.homeContainer {
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw; 
  height: 100vh;
  background-image: url("./oldSchool.jpg"); 
  background-size: cover; 
}

.challengeContainer {
  margin: 5em; 
}

img {
  margin-left: -2.5em; 
}

h1 {
  color: #333333;
}

h2 {
  color: #333333;
}

button {
  width: auto; 
  height: 50px;
  background-color: #333333; 
  color: white; 
  font-size: 15px; 
}

button:hover {
  background-color: #00BFFF;  
  color: #333333; 
}

table, td, th {  
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: #333333;
}

th, td {
  padding: 15px;
}

.productTable {
  border: solid #D3D3D3 .2px; 
}

#productListing {
  border-right: solid #D3D3D3 .2px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #555;
}