.homeContainer {
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw; 
  height: 100vh;
  background-image: url("./oldSchool.jpg"); 
  background-size: cover; 
}

img {
  margin-left: -2.5em; 
}

h1 {
  color: #333333;
}

h2 {
  color: #333333;
}

button {
  width: auto; 
  height: 50px;
  background-color: #333333; 
  color: white; 
  font-size: 15px; 
}

button:hover {
  background-color: #00BFFF;  
  color: #333333; 
}

li {
  display: inline; 
}