.homeContainer {
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw; 
  height: 100vh;
  background-image: url("./oldSchool.jpg"); 
  background-size: cover; 
}

.challengeContainer {
  margin: 0em 5em 5em 5em; 
}

.backgroundImage {
  width: 100vw; 
  height: 100vh;
  background-image: url("./oldSchool.jpg"); 
  background-size: cover;
}

.backboneLogo {
  margin-left: -2.5em; 
}

h1 {
  color: #333333;
  margin: 0; 
}

h2 {
  color: #333333;
}

button {
  width: auto; 
  height: 50px;
  background-color: #333333; 
  color: white; 
  font-size: 15px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  background-color: #00BFFF;  
  color: #333333; 
}

table, td, th {  
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: #333333;
}

th, td {
  padding: 15px;
}

th {
  font-size: 15px; 
  color: #333333; 
}

.productTable {
  border: solid #D3D3D3 .2px; 
}

#productListing {
  border-right: solid #D3D3D3 .2px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #555;
}

input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=number]:focus {
  border: 3px solid #555;
}

.productImage {
  position: relative;
  float: left;
  width:  75px;
  height: 75px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  margin-left: 2em;
}

.devButton {
  font-weight: bold; 
}